.label {
    -fx-text-fill: red;
}

#myLabel {
    -fx-text-fill: #00f;
}

.text-field {

}
.root {
    -fx-background-size: cover; /* L'immagine si adatta alle dimensioni della finestra */
    -fx-background-position: center; /* Posiziona l'immagine al centro */
    -fx-background-repeat: no-repeat; /* Evita ripetizioni dell'immagine */
}

