# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
/build/*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.vscode

.DS_Store

# Exclude all files in the report directory
report/*

# Do not exclude PDF and TeX files in the report directory
!report/*.pdf
!report/*.tex

# Do not exclude files in the report/img directory
!report/img/
.idea

bin
bin*